# Terraform Backend Configuration
#
# Description:
# A backend defines where Terraform stores its state data files. Terraform uses persisted state data
# to keep track of the resources it manages. The Terraform backend defined below stores the state in
# a bucket on Amazon S3.
#
# Terrafom Documentation:
# https://developer.hashicorp.com/terraform/language/settings/backends/configuration
# https://developer.hashicorp.com/terraform/language/settings/backends/s3

terraform {
    backend "s3" {
        profile = "aws-eks-cluster"
        bucket = "mybucket"
        region = "ap-southeast-2"
        key = "aws-eks-cluster/terraform.tfstate"
        encrypt = true
    }
}
